.Login{
    background-image: url(../assets//im/bg_login.png);
    background-size: cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_card{
    width: 676px;
    height: 530px;
    background-color: #000000;
    border-radius: 10px;
    opacity: 0.75;
}
#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.Login .input{
    height: 50px;
    width: 442px;
    border-radius: 12px;
    margin-top: 40px;
    padding-left: 20px;
    font-size: var(--fz18);
    letter-spacing: 5px;
    color: #A1A1A1;
}

.Login .text{
  
    font-size: var(--fz28);
    margin-top: 60px;
    letter-spacing: 8px;
    left: -65px;
    transform: translateX(-65px);
    filter: drop-shadow(0 0 5px #FFFEF3);
    color: #FFFEF3;
}
.login_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: normal;
    font-size: var(--fz18);
    letter-spacing: 5px;
    width: 100px;
    height: 40px;
    margin-top: 40px;
    left: -85px;
    transform: translateX(-85px);
    
    background: #FFFFFF;
    border-radius: 50px;
    
}