footer {
    min-height: 103px;
    width: 100%;
    padding: 0px 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}
.footer_text{
    font-size: var(--fz14);
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: -1px;
    filter: drop-shadow(0 0 5px #FFFEF3);
}
