nav {
    min-height: 101px;
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 0px 44.35px 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 100;
}

.logo_photo{
    color:black;
}
.state{
    background-color: black;
    color: white;
}