/* nav */

nav {
    min-height: 101px;
    z-index: 20;
    width: 100%;
    padding: 0px 45px 0px 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.logo {
    display: flex;
    min-width: none;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    text-shadow: 0 0 2px #fff;
    color: #fff;
}

.menu_link {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}
   
.menu_top {
    font-weight: 300;
    font-size: var(--fz18);
    letter-spacing: 5px;
    margin-left: 3px;
}

.menu_bottom {
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 300;
    display : inline-block;
}

.menu li:first-child .menu_bottom {
    transform : scale(0.68); 
}

.menu li:nth-child(2) .menu_bottom {
    transform : scale(0.61); 
}

.menu li:nth-child(3) .menu_bottom {
    transform : scale(0.54); 
}